<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>予約・変更・確認 メニュー</title>
</head>
<body>
<h2>ご希望の内容をお選びください</h2>

<form>
    <button type="button" onclick="location.href='/select-date-time'">初めての方はこちら（新患予約）</button><br><br>
    <button type="button" onclick="location.href='/login'">治療・定期検診（再診）</button><br><br>
    <button type="button" onclick="location.href='/check-reservation'">予約確認・変更</button><br><br>
    <button type="button" onclick="location.href='/'">TOPへ戻る</button>
</form>

</body>
</html>
